
<h1>home page</h1>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-xs-6 col-sm-4">
      <h4><%= link_to product.name , product_path(product.id) %></h4>
      <p><%= product.price %></p>
      <button value="<%= product.id %>" type="button" class="add-product btn btn-primary">Primary</button>
    </div>
  <% end %>
</div>

<div>
  <%= form_tag(root_path, method: :get) do %>
    <%= text_field_tag :term %>
    <%= submit_tag 'Search' %>
  <% end %>
  <p>
    <%= link_to "Back", root_path, class: "btn btn-default" %>
  </p>
</div>
