<!DOCTYPE html>
<html>
  <head>
    <title>Codaisseurzon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <%= render 'shared/navbar' %>
    <div class="container-fluid">
      <p class="“notice”"><%= notice %></p>
      <p class="“alert”"><%= alert %></p>
      <div class="row">
        <div class="col-md-8">
          <%= yield %>
        </div>
        
        <div class="col-md-4">
          <%= render 'shopping_cart/shopping_cart' %>
        </div>
      </div>
    </div>
  </body>

</html>
